USE [master]
GO
/****** Object:  Database [BTNT]    Script Date: 05/06/2023 14:31:56 ******/
CREATE DATABASE [BTNT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTNT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BTNT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTNT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BTNT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTNT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTNT]
GO
/****** Object:  User [NV]    Script Date: 05/06/2023 14:31:56 ******/
CREATE USER [NV] FOR LOGIN [NV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ND]    Script Date: 05/06/2023 14:31:56 ******/
CREATE USER [ND] FOR LOGIN [ND] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [USER]    Script Date: 05/06/2023 14:31:56 ******/
CREATE ROLE [USER]
GO
/****** Object:  DatabaseRole [QUANLY]    Script Date: 05/06/2023 14:31:56 ******/
CREATE ROLE [QUANLY]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 05/06/2023 14:31:56 ******/
CREATE ROLE [NHANVIEN]
GO
/****** Object:  DatabaseRole [NGUOIDUNG]    Script Date: 05/06/2023 14:31:56 ******/
CREATE ROLE [NGUOIDUNG]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [NV]
GO
ALTER ROLE [NGUOIDUNG] ADD MEMBER [ND]
GO
ALTER ROLE [db_owner] ADD MEMBER [ND]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ND]
GO
ALTER ROLE [db_owner] ADD MEMBER [NGUOIDUNG]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NGUOIDUNG]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [nchar](8) NOT NULL,
	[TENCHUDE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUDE] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAC_GIA]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAC_GIA](
	[MATACGIA] [nchar](8) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NGAYMAT] [date] NULL,
	[MAQT] [nchar](8) NULL,
	[MATD] [nchar](8) NULL,
	[MAPC] [nchar](8) NULL,
	[DIENGIAI] [ntext] NULL,
 CONSTRAINT [PK_TAC_GIA] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPNT]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPNT](
	[MATPNT] [nchar](8) NOT NULL,
	[TENTP] [nvarchar](50) NULL,
	[MATG] [nchar](8) NULL,
	[MACD] [nchar](8) NULL,
	[MAQT] [nchar](8) NULL,
	[DIENGIAI] [ntext] NULL,
	[MATD] [nchar](8) NULL,
	[NAM] [int] NULL,
 CONSTRAINT [PK_TPNT] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOI_DAI]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOI_DAI](
	[MATD] [nchar](8) NOT NULL,
	[TENTD] [nvarchar](50) NULL,
 CONSTRAINT [PK_THOI_DAI] PRIMARY KEY CLUSTERED 
(
	[MATD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUOC_GIA]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOC_GIA](
	[MAQT] [nchar](8) NOT NULL,
	[TENQT] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUOC_GIA] PRIMARY KEY CLUSTERED 
(
	[MAQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_TPNT]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_TPNT] AS
SELECT TP.MATPNT, TP.TENTP, TG.HO, TG.TEN, TP.NAM, QT.TENQT, CD.TENCHUDE, TD.TENTD, TP.DIENGIAI

FROM TPNT TP

JOIN TAC_GIA TG ON TP.MATG = TG.MATACGIA

JOIN CHUDE CD ON CD.MACD = TP.MACD

JOIN THOI_DAI TD ON TP.MATD = TD.MATD

JOIN QUOC_GIA QT ON QT.MAQT = TP.MAQT;
GO
/****** Object:  Table [dbo].[BO_SUU_TAP]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_SUU_TAP](
	[MABST] [nchar](8) NOT NULL,
	[TENBST] [nvarchar](50) NULL,
	[MAHT] [nchar](8) NULL,
	[MOTA] [ntext] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_BO_SUU_TAP] PRIMARY KEY CLUSTERED 
(
	[MABST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_LIEU]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_LIEU](
	[MACL] [nchar](8) NOT NULL,
	[TENCL] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHAT_LIEU] PRIMARY KEY CLUSTERED 
(
	[MACL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_CTL]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CTL](
	[MACTL] [nchar](8) NOT NULL,
	[MATPNT] [nchar](8) NOT NULL,
 CONSTRAINT [PK_CT_CTL] PRIMARY KEY CLUSTERED 
(
	[MACTL] ASC,
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUOC_TRIEN_LAM]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUOC_TRIEN_LAM](
	[MACTL] [nchar](8) NOT NULL,
	[TENCTL] [nvarchar](50) NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MACTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEU_KHAC]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEU_KHAC](
	[MATPNT] [nchar](8) NOT NULL,
	[MAVL] [nchar](8) NULL,
	[CHIEUCAO] [float] NULL,
	[KHOILUONG] [float] NULL,
	[MAPC] [nchar](8) NULL,
 CONSTRAINT [PK_DIEU_KHAC] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH_THUC]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH_THUC](
	[MAHT] [nchar](8) NOT NULL,
	[TENHINHTHUC] [nvarchar](50) NULL,
 CONSTRAINT [PK_HINH_THUC] PRIMARY KEY CLUSTERED 
(
	[MAHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOI_HOA]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOI_HOA](
	[MATPNT] [nchar](8) NOT NULL,
	[MACL] [nchar](8) NULL,
	[MAVL] [nchar](8) NULL,
	[MATP] [nchar](8) NULL,
 CONSTRAINT [PK_HOI_HOA] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHAC]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHAC](
	[MATPNT] [nchar](8) NOT NULL,
	[MAPC] [nchar](8) NULL,
	[ANH] [image] NULL,
 CONSTRAINT [PK_KHAC] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUON]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUON](
	[MATPNT] [nchar](8) NOT NULL,
	[MABST] [nchar](8) NOT NULL,
	[NGAYMUON] [date] NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [PK_MUON] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC,
	[MABST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_CACH_DK]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_CACH_DK](
	[MAPC] [nchar](8) NOT NULL,
	[TENPC] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONG_CACH_HH] PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_CACH_K]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_CACH_K](
	[MAPC] [nchar](8) NOT NULL,
	[TENPC] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONG_CACH_K] PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_CACH_TG]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_CACH_TG](
	[MAPC] [nchar](8) NOT NULL,
	[TENPC] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONG_CACH] PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_HUU]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_HUU](
	[MATPNT] [nchar](8) NOT NULL,
	[NGAYSOHUU] [date] NULL,
	[TINHTRANG] [bit] NULL,
	[GIATRI] [money] NULL,
 CONSTRAINT [PK_SO_HUU] PRIMARY KEY CLUSTERED 
(
	[MATPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUONG_PHAI]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONG_PHAI](
	[MATP] [nchar](8) NOT NULL,
	[TENTP] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRUONG_PHAI] PRIMARY KEY CLUSTERED 
(
	[MATP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAT_LIEU_DK]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAT_LIEU_DK](
	[MAVL] [nchar](8) NOT NULL,
	[TENVL] [nvarchar](50) NULL,
 CONSTRAINT [PK_VAT_LIEU_DK] PRIMARY KEY CLUSTERED 
(
	[MAVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAT_LIEU_HH]    Script Date: 05/06/2023 14:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAT_LIEU_HH](
	[MAVL] [nchar](8) NOT NULL,
	[TENVL] [nvarchar](40) NULL,
 CONSTRAINT [PK_VAT_LIEU] PRIMARY KEY CLUSTERED 
(
	[MAVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BO_SUU_TAP]  WITH CHECK ADD  CONSTRAINT [FK_HINH_THUC_BO_SUU_TAP] FOREIGN KEY([MAHT])
REFERENCES [dbo].[HINH_THUC] ([MAHT])
GO
ALTER TABLE [dbo].[BO_SUU_TAP] CHECK CONSTRAINT [FK_HINH_THUC_BO_SUU_TAP]
GO
ALTER TABLE [dbo].[CT_CTL]  WITH CHECK ADD  CONSTRAINT [FK_CT_CTL_CUOC_TRIEN_LAM] FOREIGN KEY([MACTL])
REFERENCES [dbo].[CUOC_TRIEN_LAM] ([MACTL])
GO
ALTER TABLE [dbo].[CT_CTL] CHECK CONSTRAINT [FK_CT_CTL_CUOC_TRIEN_LAM]
GO
ALTER TABLE [dbo].[CT_CTL]  WITH CHECK ADD  CONSTRAINT [FK_CT_CTL_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
GO
ALTER TABLE [dbo].[CT_CTL] CHECK CONSTRAINT [FK_CT_CTL_TPNT]
GO
ALTER TABLE [dbo].[DIEU_KHAC]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_KHAC_PHONG_CACH_HH] FOREIGN KEY([MAPC])
REFERENCES [dbo].[PHONG_CACH_DK] ([MAPC])
GO
ALTER TABLE [dbo].[DIEU_KHAC] CHECK CONSTRAINT [FK_DIEU_KHAC_PHONG_CACH_HH]
GO
ALTER TABLE [dbo].[DIEU_KHAC]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEU_KHAC_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
GO
ALTER TABLE [dbo].[DIEU_KHAC] CHECK CONSTRAINT [FK_DIEU_KHAC_TPNT]
GO
ALTER TABLE [dbo].[DIEU_KHAC]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_KHAC_VAT_LIEU_DK] FOREIGN KEY([MAVL])
REFERENCES [dbo].[VAT_LIEU_DK] ([MAVL])
GO
ALTER TABLE [dbo].[DIEU_KHAC] CHECK CONSTRAINT [FK_DIEU_KHAC_VAT_LIEU_DK]
GO
ALTER TABLE [dbo].[HOI_HOA]  WITH CHECK ADD  CONSTRAINT [FK_HOI_HOA_CHAT_LIEU] FOREIGN KEY([MACL])
REFERENCES [dbo].[CHAT_LIEU] ([MACL])
GO
ALTER TABLE [dbo].[HOI_HOA] CHECK CONSTRAINT [FK_HOI_HOA_CHAT_LIEU]
GO
ALTER TABLE [dbo].[HOI_HOA]  WITH NOCHECK ADD  CONSTRAINT [FK_HOI_HOA_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
GO
ALTER TABLE [dbo].[HOI_HOA] CHECK CONSTRAINT [FK_HOI_HOA_TPNT]
GO
ALTER TABLE [dbo].[HOI_HOA]  WITH CHECK ADD  CONSTRAINT [FK_HOI_HOA_TRUONG_PHAI] FOREIGN KEY([MATP])
REFERENCES [dbo].[TRUONG_PHAI] ([MATP])
GO
ALTER TABLE [dbo].[HOI_HOA] CHECK CONSTRAINT [FK_HOI_HOA_TRUONG_PHAI]
GO
ALTER TABLE [dbo].[HOI_HOA]  WITH CHECK ADD  CONSTRAINT [FK_HOI_HOA_VAT_LIEU] FOREIGN KEY([MAVL])
REFERENCES [dbo].[VAT_LIEU_HH] ([MAVL])
GO
ALTER TABLE [dbo].[HOI_HOA] CHECK CONSTRAINT [FK_HOI_HOA_VAT_LIEU]
GO
ALTER TABLE [dbo].[KHAC]  WITH CHECK ADD  CONSTRAINT [FK_KHAC_PHONG_CACH_K] FOREIGN KEY([MAPC])
REFERENCES [dbo].[PHONG_CACH_K] ([MAPC])
GO
ALTER TABLE [dbo].[KHAC] CHECK CONSTRAINT [FK_KHAC_PHONG_CACH_K]
GO
ALTER TABLE [dbo].[KHAC]  WITH NOCHECK ADD  CONSTRAINT [FK_KHAC_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
GO
ALTER TABLE [dbo].[KHAC] CHECK CONSTRAINT [FK_KHAC_TPNT]
GO
ALTER TABLE [dbo].[MUON]  WITH NOCHECK ADD  CONSTRAINT [FK_MUON_BO_SUU_TAP] FOREIGN KEY([MABST])
REFERENCES [dbo].[BO_SUU_TAP] ([MABST])
GO
ALTER TABLE [dbo].[MUON] CHECK CONSTRAINT [FK_MUON_BO_SUU_TAP]
GO
ALTER TABLE [dbo].[MUON]  WITH NOCHECK ADD  CONSTRAINT [FK_MUON_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
GO
ALTER TABLE [dbo].[MUON] CHECK CONSTRAINT [FK_MUON_TPNT]
GO
ALTER TABLE [dbo].[SO_HUU]  WITH CHECK ADD  CONSTRAINT [FK_SO_HUU_TPNT] FOREIGN KEY([MATPNT])
REFERENCES [dbo].[TPNT] ([MATPNT])
GO
ALTER TABLE [dbo].[SO_HUU] CHECK CONSTRAINT [FK_SO_HUU_TPNT]
GO
ALTER TABLE [dbo].[TAC_GIA]  WITH CHECK ADD  CONSTRAINT [FK_TAC_GIA_PHONG_CACH] FOREIGN KEY([MAPC])
REFERENCES [dbo].[PHONG_CACH_TG] ([MAPC])
GO
ALTER TABLE [dbo].[TAC_GIA] CHECK CONSTRAINT [FK_TAC_GIA_PHONG_CACH]
GO
ALTER TABLE [dbo].[TAC_GIA]  WITH CHECK ADD  CONSTRAINT [FK_TAC_GIA_QUOC_GIA] FOREIGN KEY([MAQT])
REFERENCES [dbo].[QUOC_GIA] ([MAQT])
GO
ALTER TABLE [dbo].[TAC_GIA] CHECK CONSTRAINT [FK_TAC_GIA_QUOC_GIA]
GO
ALTER TABLE [dbo].[TAC_GIA]  WITH CHECK ADD  CONSTRAINT [FK_TAC_GIA_THOI_DAI] FOREIGN KEY([MATD])
REFERENCES [dbo].[THOI_DAI] ([MATD])
GO
ALTER TABLE [dbo].[TAC_GIA] CHECK CONSTRAINT [FK_TAC_GIA_THOI_DAI]
GO
ALTER TABLE [dbo].[TPNT]  WITH CHECK ADD  CONSTRAINT [FK_TPNT_CHUDE] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[TPNT] CHECK CONSTRAINT [FK_TPNT_CHUDE]
GO
ALTER TABLE [dbo].[TPNT]  WITH CHECK ADD  CONSTRAINT [FK_TPNT_QUOC_GIA] FOREIGN KEY([MAQT])
REFERENCES [dbo].[QUOC_GIA] ([MAQT])
GO
ALTER TABLE [dbo].[TPNT] CHECK CONSTRAINT [FK_TPNT_QUOC_GIA]
GO
ALTER TABLE [dbo].[TPNT]  WITH CHECK ADD  CONSTRAINT [FK_TPNT_TAC_GIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TAC_GIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[TPNT] CHECK CONSTRAINT [FK_TPNT_TAC_GIA]
GO
ALTER TABLE [dbo].[TPNT]  WITH CHECK ADD  CONSTRAINT [FK_TPNT_THOI_DAI] FOREIGN KEY([MATD])
REFERENCES [dbo].[THOI_DAI] ([MATD])
GO
ALTER TABLE [dbo].[TPNT] CHECK CONSTRAINT [FK_TPNT_THOI_DAI]
GO
/****** Object:  StoredProcedure [dbo].[CheckAuthorExists]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
				CREATE PROCEDURE [dbo].[CheckAuthorExists]
    @AuthorId nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TAC_GIA WHERE MATACGIA = @AuthorId)
        RETURN 0; -- Mã tác giả tồn tại
    ELSE
        RETURN 1; -- Mã tác giả không tồn tại
END
GO
/****** Object:  StoredProcedure [dbo].[CheckMATACGIA]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckMATACGIA]
    @MATACGIA nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TPNT WHERE MATG = @MATACGIA)
        RETURN 1;
    ELSE
        RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraMATPNT_Dieu_Khac]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraMATPNT_Dieu_Khac]
    @MATPNT nvarchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem MATPNT có tồn tại trong bảng TPNT hay không
    IF EXISTS (SELECT 1 FROM TPNT WHERE MATPNT = @MATPNT)
    BEGIN
        -- Kiểm tra xem MATPNT đã xuất hiện trong bảng HOI_HOA hoặc KHAC hay không
        IF EXISTS (SELECT 1 FROM HOI_HOA WHERE MATPNT = @MATPNT) OR EXISTS (SELECT 1 FROM KHAC WHERE MATPNT = @MATPNT)
        BEGIN
            -- MATPNT đã xuất hiện trong bảng HOI_HOA hoặc KHAC, trả về 1
            RETURN 1;
        END
        ELSE
        BEGIN
            -- MATPNT chưa xuất hiện trong bảng HOI_HOA hoặc KHAC, trả về 0
            RETURN 0;
        END
    END
    ELSE
    BEGIN
        -- MATPNT không tồn tại trong bảng TPNT, trả về 1
        RETURN 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraMATPNT_Hoi_Hoa]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraMATPNT_Hoi_Hoa]
    @MATPNT nvarchar(8)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM TPNT WHERE MATPNT = @MATPNT)
    BEGIN
        IF EXISTS (SELECT 1 FROM DIEU_KHAC WHERE MATPNT = @MATPNT) OR EXISTS (SELECT 1 FROM KHAC WHERE MATPNT = @MATPNT)
        BEGIN
            RETURN 1;
        END
        ELSE
        BEGIN
            RETURN 0;
        END
    END
    ELSE
    BEGIN
        RETURN 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraMATPNT_Khac]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraMATPNT_Khac]

    @MATPNT nvarchar(8)

AS

BEGIN

    SET NOCOUNT ON;

  

    -- Kiểm tra xem MATPNT có tồn tại trong bảng TPNT hay không

    IF EXISTS (SELECT 1 FROM TPNT WHERE MATPNT = @MATPNT)

    BEGIN

        -- Kiểm tra xem MATPNT đã xuất hiện trong bảng HOI_HOA hoặc KHAC hay không

        IF EXISTS (SELECT 1 FROM HOI_HOA WHERE MATPNT = @MATPNT) OR EXISTS (SELECT 1 FROM DIEU_KHAC WHERE MATPNT = @MATPNT)

        BEGIN

            -- MATPNT đã xuất hiện trong bảng HOI_HOA hoặc KHAC, trả về 1

            RETURN 1;

        END

        ELSE

        BEGIN

            -- MATPNT chưa xuất hiện trong bảng HOI_HOA hoặc KHAC, trả về 0

            RETURN 0;

        END

    END

    ELSE

    BEGIN

        -- MATPNT không tồn tại trong bảng TPNT, trả về 1

        RETURN 1;

    END

END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraMaTPNT_MUON]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraMaTPNT_MUON]

    @MATPNT nchar(8)

AS

BEGIN

    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TPNT WHERE MATPNT = @MATPNT)

    BEGIN

        IF EXISTS (SELECT 1 FROM SO_HUU WHERE MATPNT = @MATPNT)

        BEGIN

            RETURN 1;

        END

        ELSE

        BEGIN

            RETURN 0;

        END

    END

    ELSE

    BEGIN

        RETURN 1;

    END

END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraMaTPNT_SOHUU]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraMaTPNT_SOHUU]
    @MATPNT nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TPNT WHERE MATPNT = @MATPNT)
    BEGIN
        IF EXISTS (SELECT 1 FROM MUON WHERE MATPNT = @MATPNT)
        BEGIN
            RETURN 1;
        END
        ELSE
        BEGIN
            RETURN 0;
        END
    END
    ELSE
    BEGIN
        RETURN 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraMATPNTTonTai]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraMATPNTTonTai]
    @MATPNT nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra bảng TPNT
    IF EXISTS (SELECT 1 FROM TPNT WHERE MATPNT = @MATPNT)
        RETURN 1;
    ELSE
        RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraTPTrongTrienLam]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraTPTrongTrienLam]
    @MATPNT nchar(8)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NgayHienTai date = GETDATE();

    -- Kiểm tra nếu tác phẩm có trong cuộc triển lãm
    IF EXISTS (SELECT 1 
               FROM CT_CTL
               INNER JOIN CUOC_TRIEN_LAM ON CT_CTL.MACTL = CUOC_TRIEN_LAM.MACTL
               WHERE CT_CTL.MATPNT = @MATPNT
                 AND (CUOC_TRIEN_LAM.NGAYBATDAU > @NgayHienTai OR (CUOC_TRIEN_LAM.NGAYBATDAU <= @NgayHienTai AND CUOC_TRIEN_LAM.NGAYKETTHUC >= @NgayHienTai)))
    BEGIN
        RETURN 1;
    END

    RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[KiemTraTrungThoiGian]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraTrungThoiGian]
    @MACTL nchar(8),
    @MATPNT nchar(8)
AS
BEGIN
    SET NOCOUNT ON;
	
	DECLARE @X DATETIME
	SELECT @X = NGAYBATDAU FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL
	
	DECLARE @y DATETIME
	SELECT @y = NGAYKETTHUC FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL
	
	IF EXISTS (
		SELECT 1
		FROM CT_CTL C
		JOIN CUOC_TRIEN_LAM TL ON TL.MACTL = C.MACTL
		WHERE C.MATPNT = @MATPNT
			AND ((TL.NGAYBATDAU < @X AND TL.NGAYKETTHUC > @y)
				OR (TL.NGAYBATDAU < @X AND TL.NGAYKETTHUC < @y)
				OR (TL.NGAYBATDAU > @X AND TL.NGAYKETTHUC < @y))
	)
	BEGIN
		RETURN 1
	END
	ELSE
	BEGIN
		RETURN 0
	END
END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraXoaSua_MUON]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KiemTraXoaSua_MUON]
    @MATPNT nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM MUON WHERE MATPNT = @MATPNT AND NGAYTRA < GETDATE())
        RETURN 1;
    ELSE
        RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[LayDanhSach_tpnt_CTL]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[LayDanhSach_tpnt_CTL]

    @MACTL nchar(8)

AS

BEGIN

    SET NOCOUNT ON;
	DECLARE @X DATETIME
SELECT @X = NGAYBATDAU FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL

DECLARE @y DATETIME
SELECT @y = NGAYKETTHUC FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL

SELECT TP.MATPNT, TP.TENTP
FROM TPNT TP
WHERE TP.MATPNT NOT IN (
    SELECT TL.MATPNT
    FROM CT_CTL TL
    JOIN CUOC_TRIEN_LAM C ON TL.MACTL = C.MACTL
    WHERE (C.NGAYBATDAU < @X AND C.NGAYKETTHUC > @y)
        OR (C.NGAYBATDAU < @X AND C.NGAYKETTHUC < @y)
        OR (C.NGAYBATDAU > @X AND C.NGAYKETTHUC < @y)
)
   

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhap]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DangNhap]
    @TENLOGIN NVARCHAR(100)
AS
BEGIN
    DECLARE @UID INT

    SELECT @UID = uid
    FROM sys.sysusers
    WHERE name = @TENLOGIN

    SELECT role.name AS RoleName
    FROM sys.sysmembers AS member
    INNER JOIN sys.sysusers AS [user] ON member.memberuid = [user].uid
    INNER JOIN sys.sysusers AS role ON member.groupuid = role.uid
    WHERE [user].uid = @UID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraThemBST]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraThemBST]
    @MABST NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM BO_SUU_TAP WHERE MABST = @MABST)
        RETURN 1;

    RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtraxoaCTCTL]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_kiemtraxoaCTCTL]
    @MACTL nchar(8)
AS
BEGIN
    DECLARE @NgayBatDau datetime
    DECLARE @NgayKetThuc datetime
    SET @NgayBatDau = (SELECT NGAYBATDAU FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL)
    SET @NgayKetThuc = (SELECT NGAYKETTHUC FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL)

    IF @NgayKetThuc < GETDATE() OR @NgayBatDau < GETDATE()
        return 1;
    return 0 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoanSQL]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TaoTaiKhoanSQL]
    @TenLogin NVARCHAR(100),
    @MatKhau NVARCHAR(100),
    @Role NVARCHAR(100)
AS
BEGIN
    -- Kiểm tra xem role có tồn tại trong cơ sở dữ liệu hay không
    IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @Role AND type = 'R')
    BEGIN
        RAISERROR('Role không tồn tại', 16, 1)
        RETURN
    END
    
    -- Tạo tài khoản login
    DECLARE @SqlCreateLogin NVARCHAR(MAX)
    SET @SqlCreateLogin = 'CREATE LOGIN ' + QUOTENAME(@TenLogin) + ' WITH PASSWORD = ' + QUOTENAME(@MatKhau, '''') + ', CHECK_POLICY = OFF'
    EXEC sp_executesql @SqlCreateLogin
    
    -- Thêm tài khoản vào role
    DECLARE @SqlAddToRole NVARCHAR(MAX)
    SET @SqlAddToRole = 'ALTER ROLE ' + QUOTENAME(@Role) + ' ADD MEMBER ' + QUOTENAME(@TenLogin)
    EXEC sp_executesql @SqlAddToRole
END
GO
/****** Object:  StoredProcedure [dbo].[sp_themCTL]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_themCTL]
    @MACTL nchar(8),
    @MATPNT nchar(8)
AS
BEGIN
    SET NOCOUNT ON;
	
	DECLARE @NgayBatDau DATETIME
	DECLARE @NgayKetThuc DATETIME
	SET @NgayBatDau = (SELECT NGAYBATDAU FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL)
    SET @NgayKetThuc = (SELECT NGAYKETTHUC FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL)
	IF @NgayBatDau < GETDATE() OR @NgayKetThuc < GETDATE()
                return 1;
	IF EXISTS (
		SELECT 1
		FROM CT_CTL C
		JOIN CUOC_TRIEN_LAM TL ON TL.MACTL = C.MACTL
		WHERE C.MATPNT = @MATPNT
			AND ((TL.NGAYBATDAU < @NgayBatDau AND TL.NGAYKETTHUC > @NgayKetThuc)
				OR (TL.NGAYBATDAU < @NgayBatDau AND TL.NGAYKETTHUC < @NgayKetThuc)
				OR (TL.NGAYBATDAU > @NgayBatDau AND TL.NGAYKETTHUC < @NgayKetThuc))
	)
	BEGIN
		RETURN 1
	END
	ELSE
	BEGIN
		RETURN 0
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaBST]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XoaBST]
    @MABST NCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM MUON WHERE MABST = @MABST AND MATPNT IS NOT NULL)
        RETURN 1;

    RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Them_CTL]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_CTL]
    @MACTL nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM CUOC_TRIEN_LAM WHERE MACTL = @MACTL)
    BEGIN
        RETURN 1;
    END
    ELSE
    BEGIN
        RETURN 0;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ThemTacPham]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemTacPham]
    @LoaiTacPham INT,
    @MATPNT nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF @LoaiTacPham = 1
    BEGIN
        -- Thêm vào bảng Hoi_HOA
        INSERT INTO Hoi_HOA (MATPNT)
        VALUES (@MATPNT)
    END
    ELSE IF @LoaiTacPham = 2
    BEGIN
        -- Thêm vào bảng Dieu_KHAC
        INSERT INTO Dieu_KHAC (MATPNT)
        VALUES (@MATPNT)
    END
    ELSE IF @LoaiTacPham = 3
    BEGIN
        -- Thêm vào bảng KHAC
        INSERT INTO KHAC (MATPNT)
        VALUES (@MATPNT)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Xoa_CTL]    Script Date: 05/06/2023 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Xoa_CTL]
    @MACTL nchar(8)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM CT_CTL WHERE MACTL = @MACTL)
    BEGIN
        RETURN 1;
    END
END
GO
USE [master]
GO
